* {
    box-sizing: border-box;
    margin: 0px;
    font-family:Quicksand;
    font-size: medium;
}

body {
    background-color:  #ecbac2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: floralwhite;
    height: 100px;
    
}
  
li {
    float: left;
    height: 60px;
    padding-left: 30px;
    
}
  
li a {
    font-size: large;
    height: 100px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
    padding-top: 40px;
    font-weight:bold;

}
  
li a:hover:not(.active) {
    background-color: #fc98a9;
    opacity:0.8;
}


.logo {
    padding-top: 15px;
    height:90px;
}



.footer p {
    position:static;
    left: 0px;
    padding-left: 2%;
    background-color: #2a2536;
    width: 100%;
    color: floralwhite;
    text-align: center;
    padding-bottom: 0px;
}

.social-media {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    width:120px;
    opacity: 0.7;
}

.social-media:hover {
    opacity: 1;
}

#logo-holder {
    position:relative;
    width:261px; 
    height:261px;
    margin:2%;
}

#logo-holder .text {
    position:absolute; 
    top:0; 
    left:0; 
    opacity:0;
}

#logo-holder:hover .image {opacity:0;}
#logo-holder:hover .text {opacity:1;}

.logo:hover {
    opacity:0.8;
}

.avaliar {
box-sizing: border-box;
font-family: Quicksand;
height: 270px;
margin: 0 auto; /* Center website */
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
}

.titulo {
font-size: 40px;
margin-right: 25px;
margin-bottom: 10px;
}

.fa {
font-size: 20px;
}

.checked {
color: orange;
}

.side {
float: left;
width: 15%;
margin-top:10px;
font-size: 15px;
}

.middle {
margin-top:10px;
float: left;
width: 70%;
font-size: 15px;
}

.right {
text-align: right;
font-size: 15px;
}

.barra{
margin-top: 10px;
margin-bottom: 10px;
}

.row:after {
content: "";
display: table;
clear: both;
}

.bar-container {
width: 100%;
background-color: #f1f1f1;
text-align: center;
color: white;
}

.bar-5 {
width: 60%; 
height: 18px; 
background-color: #04AA6D;
}

.bar-4 {
width: 30%;
height: 18px; 
background-color: #2196F3;
}
.bar-3 {
width: 10%; 
height: 18px; 
background-color: #00bcd4;
}
.bar-2 {
width: 4%; 
height: 18px; 
background-color: #ff9800;
}
.bar-1 {
width: 15%; 
height: 18px; 
background-color: #f44336;
}

.opiniao{
height: 50px;

}

.btnAvaliar{
font: 18px;
font-family: Quicksand;
}

.btnAvaliar{
    width: 100px;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: #B76E79;
}

.btnAvaliar:hover{
    background: #E0BFB8;
}

.btnAvaliar:active{
    transform: scale(0.95);
}