body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(./img/signin.jpg);
    background-size: cover;
}

.container{
    width:400px;
    max-width: 400px;
    margin: 18px;
    padding: 5px;
    box-shadow: 0 0 40px black;
    border-radius: 4px;
    background-color: #B76E79;
}

.titulo{
    margin-bottom: 35px;
    text-align: center;
}

.container,
.input,
.btn_con,
.btn_con2{
    font: 18px 'Candara',sans-serif;
}

.frm_mng_sucesso{
    color: rgb(73, 231, 41);
}

.mngErroUser{
    display: hidden;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.mngErroEmail{
    display: hidden;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.mngErroPassword{
    display: hidden;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.p {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: visible;
}


.formulario{
    margin-bottom: 15px;
}

.formulario{
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline:none;
    background: #eeeeee;
}

.formulario:focus{
    border-color: #B76E79;
    background: white;
}

.input{
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #B76E79;
    outline:none;
    background: #eeeeee;
}

.btn_con{
    width: 100%;
    padding: 20px 35px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: #B76E79;
}

.btn_con2{
    width: 100%;
    padding: 20px 35px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: #B76E79;
}

.btn_con:hover{
    background: #E0BFB8;
}

.btn_con:active{
    transform: scale(0.95);
}

.btn_con2:hover{
    background: #E0BFB8;
}

.btn_con2:active{
    transform: scale(0.95);
}

.frm_txt{
    text-align: center;
}

.link{
    color: #B76E79;
    text-decoration: none;
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}